
# Created by https://www.gitignore.io/api/dart

### Dart ###
# See https://www.dartlang.org/tools/private-files.html

# Files and directories created by pub
.packages
.pub/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# End of https://www.gitignore.io/api/dart

# Normally this would be ignored but we need it for gh-pages-push.sh
# Please don't otherwise commit things in here tho
# build/
