@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
    width: 600px;
    height: 100%;
    max-width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

#app-container {
    margin: 10px;

    #prompt {
        text-align: center;
        font-size: 2em;
    }

    #play {
        display: inline-block;
        padding: 2px;
        margin-left: 5px;
        padding: 5px;
    }

    #hint {
        font-size: .4em;
        font-weight: lighter;
        margin: 0;
    }

    #type {
        font-size: 1.5em;
        margin-top: 5px;
        padding: 5px;
        font-weight: lighter;
        line-height: 1.2em;

        height: 80vh;

        border: 1px solid rgba(0, 0, 0, .2);

        color: rgba(0, 0, 0, 1);

        cursor: default;

        .sentence {
            color: rgba(0, 0, 0, 1);
        }
    }

    #credits {
        font-weight: lighter;
        a {
            color: black;
        }
    }
}

[contenteditable="true"]:focus {
    outline: none;
}